/* cards preview */

.main-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.main-cards .card-item {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.616);
    transition: 0.3s;
    background-color: #ffffff;
    border-radius: 3px;
    text-align: justify;
    color: #181818;
    display: flex;
    height: 160px;
}

.main-cards .card-item:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.616);
}

.main-cards .card-item img {
    border-radius: 3px 0 0 3px;
    height: 160px;
    width: 100px;
}

.main-cards .card-item .card-title {
    margin-top: 5px;
    font-size: 15px;
    text-align: left;
}

.main-cards .card-item .card-author {
    margin: 1px 0 10px 0;
    font-size: 10px;
}

.main-cards .card-item a {
    color: #575757;
    font-weight: bold;
}

.main-cards .card-item a:hover {
    text-decoration: underline;
}

.main-cards .card-item .card-content {
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

/* Media Screen */

@media only screen and (min-width:0px) and (max-width:700px) {
    .main-cards {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 10px;
    }
}

@media only screen and (min-width:701px) and (max-width:1200px) {
    .main-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 20px 0;
    }
}
@media only screen and (min-width:1000px) and (max-width:1200px) {
    .main-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 20px 0;
    }
}
