/* form contact */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contact {
  background-color: #171c24;
  border-radius: 5px;
  width: 55%;
  padding: 20px;
  color: #ffffff;
}

.form-contact .icon_input {
  float: left;
  margin-left: 5px;
  margin-top: -40px;
  color: #171c24;
  border-radius: 4px 0px 0px 4px;
  background-color: #a8a8a8;
  padding: 5px 7px;
  width: 34px;
  height: 30px;
}

.form-contact .icon_textarea {
  float: left;
  margin-left: 5px;
  margin-top: -95px;
  color: #171c24;
  border-radius: 4px 0px 0px 4px;
  background-color: #a8a8a8;
  padding: 30px 9px;
  width: 34px;
  height: 80px;
}

.form-contact input:invalid, .form-contact textarea:invalid {
  border-top: 0.5px solid #ff0000;
  border-right: 0.5px solid #ff0000;
  border-bottom: 0.5px solid #ff0000;
  box-shadow: 2px 2px 8px 2px rgba(255, 0, 0, 0.616);
  transition: 0.3s;
}

.form-contact input:valid, .form-contact textarea:valid {
  border-top: 0.5px solid #19ad19;
  border-right: 0.5px solid #19ad19;
  border-bottom: 0.5px solid #19ad19;
  box-shadow: 2px 2px 8px 2px rgba(25, 173, 25, 0.616);
  transition: 0.3s;
}

.form-contact input, .form-contact textarea {
  width: 90%;
  padding: 0 10px;
  margin: 10px 0px 10px 40px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  z-index: 2;
}

.form-contact textarea {
  height: 80px;
}

.form-contact input, .form-contact button {
  height: 30px;
}

@media only screen and (min-width:0px) and (max-width:750px) {
  .form-contact {
    width: 80%;
  }
}
