/* form contact */

/* .contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
 .form-small {
  background-color: #171c24;
  border-radius: 5px;
  width: 55%;
  padding: 20px;
  color: #ffffff;
}

 .form-small .icon_input {
  float: left;
  margin-left: 5px;
  margin-top: -40px;
  color: #171c24;
  border-radius: 4px 0px 0px 4px;
  background-color: #a8a8a8;
  padding: 5px 7px;
  width: 34px;
  height: 30px;
} */

.form-small .icon_textarea {
  float: left;
  margin-left: 5px;
  margin-top: -95px;
  color: #171c24;
  border-radius: 4px 0px 0px 4px;
  background-color: #a8a8a8;
  padding: 30px 9px;
  width: 34px;
  height: 80px;
}

.form-small input, .form-small textarea {
  width: 90%;
  padding: 0 10px;
  margin: 10px 0px 10px 40px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  z-index: 2;
}

.form-small textarea {
  height: 80px;
}

.form-small input, .form-small button {
  height: 30px;
}

@media only screen and (min-width:0px) and (max-width:750px) {
  .form-small {
    width: 80%;
  }
}