/* General config */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Grandstander', cursive;
}

body {
  color: #ffffff;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul, li {
  list-style: none;
}

button {
  padding: 0 15px;
  color: #fff;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 17px;
}

button:hover {
  background: #e63600;
}

/*navbar and footer-div*/

.navbar, .navbar form, .footer-div {
  background: #171c24;
  text-align: center;
  font-size: 18px;
}

/* navbar */

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  font-weight: bold;
}

.navbar img {
  height: 50px;
}

.navbar .nav-items {
  display: flex;
  flex: 1;
  padding: 0 15px;
  gap: 25px;
}

.navbar .nav-items li a:hover {
  color: #ff3d00;
}

.navbar form {
  display: flex;
  height: 40px;
  padding: 2px;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
  color: #fff;
}

.navbar form input {
  color: #ffffff;
}

.form-contact input, .form-contact textarea {
  width: 100%;
  padding: 0 10px;
  margin: 10px 0;
  border-radius: 5px;
  background: #ffffff;
  border: none;
  font-family: 'Grandstander', cursive;
}
.form-contact input {
  height: 30px;
}

.navbar form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  font-weight: 500;
  background: none;
}

.navbar .menu-icon span, .navbar .nav-items span, .navbar .cancel-icon, .navbar .search-icon {
  margin: 0 50px;
  cursor: pointer;
  display: none;
}

/* container */

.container {
  width: 95%;
  margin: auto;
  padding: 20px 0;
}

.container h2, p {
  color: #000000;
}

/* header */

.header {
  width: 100%;
  height: 450px;
  background: no-repeat center center/cover url("../../assets/img/header.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}

.header .text-header {
  background-color: #bebebe;
  opacity: .9;
  color: #2c2c2c;
  padding: 20px 0;
}

.header .text-header h1 {
  padding-bottom: 20px;
}

.header .text-header p {
  margin: 0 20px;
}

/* cards */

.main-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.main-cards .card-item {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.616);
  transition: 0.3s;
  background-color: #ffffff;
  border-radius: 3px;
  text-align: justify;
  color: #181818;
  display: flex;
  height: 160px;
}

.main-cards .card-item:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.616);
}

.main-cards .card-item img {
  border-radius: 3px 0 0 3px;
  height: 160px;
  width: 100px;
}

.main-cards .card-item .card-title {
  margin-top: 5px;
  font-size: 15px;
}

.main-cards .card-item .card-author {
  margin: 1px 0 10px 0;
  font-size: 10px;
}

.main-cards .card-item a {
  color: #575757;
  font-weight: bold;
}

.main-cards .card-item a:hover {
  text-decoration: underline;
}

.main-cards .card-item .card-content {
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

/* form contact */

.container .form-contact {
  display: flex;
  justify-content: center;
  background-color: #171c24;
  border-radius: 5px;
  width: 40%;
  padding: 20px;
}

.container .form-contact p {
  text-align: justify;
  color: #ffffff;
}

/* footer */

.footer-div {
  padding: 20px 0;
}

.footer-div .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.footer-div .footer-container img {
  height: 85px;
}

.footer-div .footer-container h2 {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}

.footer {
  background-color: #000000;
  color: #adadad;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

/* Media Screen */

@media only screen and (min-width:0px) and (max-width:470px) {
  .navbar img {
    height: 22px;
  }
}

@media only screen and (min-width:0px) and (max-width:700px) {
  .navbar {
    padding: 0;
  }
  .navbar .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  .navbar .nav-items.active {
    left: 0;
  }
  .navbar .nav-items li {
    line-height: 40px;
    padding-bottom: 5px;
    border-bottom: 2px solid #272f3d;
    text-align: left;
  }
  .navbar form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  .navbar form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  .navbar form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  .navbar form:after {
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar .menu-icon {
    display: block;
  }
  .navbar .nav-items span {
    display: inline;
  }
  .navbar .search-icon, .navbar .menu-icon span {
    display: block;
  }
  .navbar .menu-icon span.hide, .navbar .search-icon.hide {
    display: none;
  }
  .navbar .cancel-icon.show {
    display: block;
  }
  /* cards  and footer mobile*/
  .main-cards, .footer-div .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .footer-div .footer-container img {
    height: 45px;
  }
}

@media only screen and (min-width:701px) and (max-width:1200px) {
  .navbar {
    padding: 0 0 0 30px;
  }
  .navbar form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  .navbar form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  /*arrow popup*/
  .navbar form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  .navbar form:after {
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar .search-icon {
    display: block;
  }
  .navbar .search-icon.hide {
    display: none;
  }
  .navbar .cancel-icon.show {
    display: block;
  }
  .main-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
  }
}