/* --------------------------------- */

.datos {
    color: red;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* --------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    font-family: 'Grandstander', cursive;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* NAVIGATION */

.nav-main {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    /*todo el ancho disponible*/
    align-items: center;
    height: 80px;
    background-color: #000000;
    margin-bottom: 20px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.616);
}

.nav-brand {
    width: 50px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 30px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #ffffff;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/* HEADER */

.header {
    width: 100%;
    height: 550px;
    background: no-repeat center center/cover url("../../assets/img/header.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

.text-header {
    background-color: #9e9e9e;
    padding: 20px 0px 20px 0px;
}

.text-header h1 {
    text-shadow: 0px 2px 4px #000000;
    padding-bottom: 15px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background: #0851a5;
    font-size: 15px;
    border: 1px solid #0851a5;
    border-radius: 5px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.616);
}

.btn:hover {
    opacity: 0.5;
}

/* MAIN CARDS */

.card-item {
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.616);
    transition: 0.3s;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: justify;
    color: #000000;
    display: flex;
    height: 150px;
}

.card-item img {
    border-radius: 5px 0px 0px 5px;
    height: 150px;
    width: 100px;
}

.card-item span {
    margin: 5px 0px;
    font-size: 15px;
}

.card-item:hover {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.616);
}

.card-content {
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.footer-div {
    background-color: rgb(34, 34, 34);
    text-align: center;
    padding: 20px 0px;
}

.footer-container img {
    width: 85px;
}

.footer-container h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

.footer {
    background-color: #000000;
    color: #adadad;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}

/*RESOLUCIONES */

/*menor a 360*/

body {
    background-color: orange;
}

/*entre 360 y 719*/

@media screen and (min-width:360px) {
    body {
        background: red;
    }
    .main-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin: 20px 0px;
    }
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

/*entre 720 y 1365*/

@media screen and (min-width:720px) {
    body {
        background-color: blue;
    }
    .main-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 20px 0px;
    }
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

/*entre 1366 y mas*/

@media screen and (min-width:1000px) {
    body {
        background-color: purple;
    }
    .main-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin: 20px 0px;
    }
    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}