/* General Config */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Grandstander', cursive;
}

body {
  background-color: #f3f3f3;
}

.container {
  width: 95%;
  margin: auto;
  padding: 20px 0;
  text-align: justify;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.title h1 {
  text-align: center;
  font-weight: bold;
  color: #171c24;
  margin-bottom: 8px;
}

.title hr {
  border: 1px solid #171c24;
  border-radius: 30px;
  margin: auto;
  align-items: center;
}

.title #hr1 {
  width: 60%;
  margin-bottom: 5px;
}

.title #hr2 {
  width: 50%;
  margin-bottom: 20px;
}

/* ----------------------- C O N F I G    F O R M S    S M A L L ----------------------------- */

.form-small-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-small {
  background-color: #171c24;
  border-radius: 5px;
  width: 55%;
  padding: 20px;
  color: #ffffff;
  padding: 20px 40px;
}

.form-small p, .form-small h4 {
  margin-top: 10px;
  margin-left: -20px;
  font-weight: bold;
}

.form-small input:invalid, textarea:invalid {
  box-shadow: 2px 2px 8px 2px rgba(255, 0, 0, 0.616);
  transition: 0.3s;
}

.form-small input:valid, textarea:valid {
  box-shadow: 2px 2px 8px 2px rgba(25, 173, 25, 0.616);
  transition: 0.3s;
}

.form-small input[type=text], input[type=email], input[type=file], textarea {
  width: 100%;
  padding: 0 40px;
  margin: 10px 0px;
  border-radius: 5px;
  border: none;
  z-index: -2;
  background-color: #ffffff;
  color: #000000;
  height: 30px;
}

.form-small textarea {
  height: 80px;
}

.form-small .icon_input {
  position: absolute;
  margin-top: 10px;
  margin-left: 2px;
  color: #171c24;
  padding: 6px 8px;
  width: 34px;
  height: 30px;
  z-index: 4;
}

.form-small input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
  width: 0px;
  margin-left: -13px;
}

.form-small [type=file]::before {
  font-family: "Font Awesome 5 Free";
  content: "\f093";
  color: #171c24;
  font-weight: bold;
  border: none;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  padding: 8px 10px;
  outline: none;
  margin-left: -40px;
}

button {
  padding: 0 15px;
  color: #fff;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 17px;
  height: 35px;
  margin-top: 10px;
}

button:hover {
  background: #e63600;
}

@media only screen and (min-width:0px) and (max-width:750px) {
  .form-small {
    width: 80%;
  }
}