.screen-error-container {
    position: relative;
    height: 50vh;
    text-align: center;
    font-weight: 700;
    color: #211b19;
    text-transform: uppercase;
}

.screen-error-container .screen-error-message {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.screen-error-message {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
}

.screen-error-message .text {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
}

.screen-error-message .text span {
    font-size: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.screen-error-message .text p {
    font-size: 28px;
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.screen-error-message a {
    color: #fff;
    background: #ff3d00;
    font-size: 17px;
    border-radius: 2px;
    display: inline-block;
    padding: 13px 23px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.screen-error-message a:hover {
    background: #e63600;
}

@media only screen and (min-width:0px) and (max-width:470px) {
    .screen-error-message .text {
        height: 148px;
        margin: 0px auto 10px;
    }
    .screen-error-message .text span {
        font-size: 86px;
    }
    .screen-error-message .text p {
        font-size: 16px;
    }
    .screen-error-message a {
        padding: 7px 15px;
        font-size: 14px;
    }
}

@media only screen and (min-width:471px) and (max-width:750px) {
    .screen-error-message .text span {
        font-size: 140px;
    }
    .screen-error-message .text p {
        font-size: 21px;
    }
    .screen-error-message a {
        font-size: 14px;
    }
}

@media only screen and (min-width:751px) and (max-width:1200px) {
    .screen-error-message .text span {
        font-size: 220px;
    }
    .screen-error-message .text p {
        font-size: 28px;
    }
    .screen-error-message a {
        font-size: 20px;
    }
}